<div class="wrapper">

  <!-- Preloader -->
  <app-loader></app-loader>
  <!-- /.preloader -->


  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <app-content-header></app-content-header>
    <!-- /.content-header -->

    <!-- Main content -->
    <app-main-content></app-main-content>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <app-footer></app-footer>
</div>
<!-- ./wrapper -->
