<h2 mat-dialog-title>Add Doctor</h2>
<mat-dialog-content>
    <form [formGroup]="doctorForm" (ngSubmit)="submitAddForm()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first_name">
            <mat-error *ngIf="doctorForm?.get('first_name')?.hasError('required')">{{ errorMessages.first_name[0].message
                }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name">
            <mat-error *ngIf="doctorForm?.get('last_name')?.hasError('required')">{{ errorMessages.last_name[0].message
                }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="doctorForm?.get('email')?.hasError('required')">{{ errorMessages.email[0].message
                }}</mat-error>
            <mat-error *ngIf="doctorForm?.get('email')?.hasError('email')">{{ errorMessages.email[1].message
                }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone_number">
            <mat-error *ngIf="doctorForm?.get('phone_number')?.hasError('required')">{{
                errorMessages.phone_number[0].message }}</mat-error>
            <mat-error *ngIf="doctorForm?.get('phone_number')?.hasError('pattern')">{{
                errorMessages.phone_number[1].message }}</mat-error>
        </mat-form-field>
        <div class="buttons-container">
            <button mat-button [mat-dialog-close] color="primary">Cancel</button>
            <button mat-button color="primary" type="submit" [disabled]="doctorForm.invalid">Save</button>
        </div>
    </form>
</mat-dialog-content>